<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= event.image_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= event.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Archived:</strong>
    <%= event.archived %>
  </p>

</div>
