<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

</div>
