<p style="color: green"><%= notice %></p>


<div class="bg-white">
  <div class="mx-auto wmax-w-screen-xl px-4 py-0 sm:px-6 sm:py-12 lg:px-8 w-full ">
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Courses</h1>

        <p class="mt-1.5 text-sm text-gray-500">
          <% content_for :title, "Courses" %>
          Please select a course to view more details.
        </p>
      </div>

      <div class="flex items-center gap-4">
      <% if can? :manage, Course %>
        <%= link_to  new_course_path, 
          class: "inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring" do %>
          New Course
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div id="courses" class="">
    <ul class="justify-content align-middle mx-12">
      <% @courses.each do |course| %>
      <li class="flex items-left mb-6 p-4 bg-white border border-gray-200 rounded-lg max-w-[1200px] shadow md:flex-row md:max-w-[1200px] dark:border-gray-700 dark:bg-gray-800 ">
        <%= image_tag(course.image_url, class:'object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg') %>
        <div class="flex flex-col justify-between p-4 leading-normal">
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 dark:text-white"><%= course.name %></h2>
              <p class="mb-2 hover:underlinetext-gray-800 dark:text-white">
                  <%= format_date_range(course.start_time, course.end_time) %>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <%= sanitize(course.description) %>
              </p>
              <div class="text-right text-gray-700 dark:text-gray-400">
                <p class="m3-4 md:me-6 font-bold">
                  <%= number_to_currency(course.price) %>
                </p>
                <%# <%= link_to "Show this course", course, class: "text-right text-gray-900 bg-white rounded-md border border-gray-300 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:text-white font-medium text-sm px-5 me-2 mb-2 dark:border-gray-600 dark:hover:bg-gray-700" %>
                <%= link_to "Show this course", course, class: "p-3 mt-3 border rounded-md text-gray-700 dark:text-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:hover:bg-gray-700" %>
                <%= link_to "Register", new_registration_path(course_id: course.id), class: "p-3 mt-3 border rounded-md text-gray-700 dark:text-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:hover:bg-gray-700" %>
              </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>