<div id="<%= dom_id course_registration %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= course_registration.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First Name:</strong>
    <%= course_registration.first_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Last Name:</strong>
    <%= course_registration.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pay type:</strong>
    <%= course_registration.pay_type %>
  </p>

</div>
