<div id="<%= dom_id registration %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= registration.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= registration.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= registration.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pay type:</strong>
    <%= registration.pay_type %>
  </p>

</div>
